<section class="header_bg flex flex-col relative">
  <svg xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none" viewBox="0 25 160 40">
    <defs>
      <path id="wave"
            d="M-150 53c30.77 0 59.538-20 90-20 31.077 0 60.256 20 90 20 30.77 0 59.23-20 90-20 30.77 0 59.23 20 90 20v20h-360z"/>
    </defs>
    <g>
      <use xlink:href="#wave" x="50" y="10"/>
      <use xlink:href="#wave" x="50" y="12"/>
      <use xlink:href="#wave" x="50" y="15"/>
    </g>
  </svg>

  <nav class="flex justify-between px-8 py-3 items-end w-full absolute">
    <h1 class="text-2xl font-bold text-white px-5">
      <a [routerLink]="['/main']"> Main</a>
    </h1>

    <ul class="flex justify-between">
      <li routerLinkActive="active">
        <a [routerLink]="['/main', 'about']" class="text-xl font-medium text-white px-5 py-2">About</a>
      </li>
      <li routerLinkActive="active" *ngIf="authService.isAuthenticated()">
        <a [routerLink]="['/main', 'products']" class="text-xl font-medium text-white px-5 py-2">Products</a>
      </li>
      <li routerLinkActive="active" *ngIf="authService.isAuthenticated()">
        <a [routerLink]="['/main', 'user']" class="text-xl font-medium text-white px-5 py-2">User</a>
      </li>
    </ul>

    <ul class="flex justify-between">
      <li routerLinkActive="active" *ngIf="!authService.isAuthenticated()">
        <a [routerLink]="['/auth', 'login']" class="text-lg font-medium text-white mx-2 px-5 py-2 ">Login</a>
      </li>
      <li routerLinkActive="active" *ngIf="!authService.isAuthenticated()">
          <a [routerLink]="['/auth', 'signup']" class="text-lg font-medium text-white mx-2 px-5 py-2">Sign up</a>
      </li>
      <li *ngIf="authService.isAuthenticated()">
        <a [routerLink]="['/']" class="text-lg font-medium text-white mx-2 px-5 py-2" (click)="singOut()">Sign out</a>
      </li>
    </ul>
  </nav>
</section>

