<section class="header_bg flex flex-col relative">
  <svg
    xmlns="http://www.w3.org/2000/svg"
    class="header_svg"
    preserveAspectRatio="none"
    viewBox="0 25 160 40"
  >
    <defs>
      <path
        id="wave"
        d="M-150 53c30.77 0 59.538-20 90-20 31.077 0 60.256 20 90 20 30.77 0 59.23-20 90-20 30.77 0 59.23 20 90 20v20h-360z"
      />
    </defs>
    <g>
      <use xlink:href="#wave" x="50" y="10" />
      <use xlink:href="#wave" x="50" y="12" />
      <use xlink:href="#wave" x="50" y="15" />
    </g>
  </svg>

  <nav class="flex justify-between px-8 py-3 items-center w-full absolute">
    <div class="px-5 border-2 rounded-full">
      <a [routerLink]="['/about']" class="xl:text-xl text-white">Logo</a>
    </div>

    <ul class="flex justify-between hidden md:flex lg:flex xl:flex">
      <li routerLinkActive="active">
        <a
          [routerLink]="['/about']"
          class="xl:text-xl lg:text-lg md:text-md sm:text-sm font-normal text-white px-5 py-2"
          >About</a
        >
      </li>
      <li routerLinkActive="active" *ngIf="authService.isAuthenticated()">
        <a
          [routerLink]="['/main', 'products']"
          class="xl:text-xl lg:text-lg md:text-md sm:text-sm font-normal text-white px-5 py-2"
          >Products</a
        >
      </li>
    </ul>

    <div class="hidden sm:flex">
      <button mat-icon-button [matMenuTriggerFor]="menu" class="btn_menu">
        <mat-icon class="text-white">more_vert</mat-icon>
      </button>
    </div>

    <mat-menu #menu="matMenu">
      <!--      <ul class="flex flex-col">-->
      <!--        <li routerLinkActive="active">-->
      <!--          <a [routerLink]="['/about']" class="xl:text-xl lg:text-lg md:text-md sm:text-sm font-normal text-white px-5 py-2">About</a>-->
      <!--        </li>-->
      <!--        <li routerLinkActive="active" *ngIf="authService.isAuthenticated()">-->
      <!--          <a [routerLink]="['/main', 'products']" class="xl:text-xl lg:text-lg md:text-md sm:text-sm font-normal text-white px-5 py-2">Products</a>-->
      <!--        </li>-->
      <!--      </ul>-->

      <ul class="flex flex-col">
        <li routerLinkActive="active">
          <a [routerLink]="['/about']" class="sm:text-sm mx-2 px-5 py-2"
            >About</a
          >
        </li>
        <li routerLinkActive="active" *ngIf="authService.isAuthenticated()">
          <a
            [routerLink]="['/main', 'products']"
            class="sm:text-sm mx-2 px-5 py-2"
            >Products</a
          >
        </li>

        <li routerLinkActive="active" *ngIf="authService.isAuthenticated()">
          <a [routerLink]="['/main', 'user']" class="sm:text-sm mx-2 px-5 py-2"
            >User</a
          >
        </li>
        <li routerLinkActive="active" *ngIf="!authService.isAuthenticated()">
          <a
            [routerLink]="['/auth', 'login']"
            class="sm:text-sm font-normal mx-2 px-5 py-2"
            >Login</a
          >
        </li>
        <li routerLinkActive="active" *ngIf="!authService.isAuthenticated()">
          <a
            [routerLink]="['/auth', 'signup']"
            class="sm:text-sm font-normal mx-2 px-5 py-2"
            >Sign up</a
          >
        </li>
        <li *ngIf="authService.isAuthenticated()">
          <a
            href="#"
            class="sm:text-sm font-normal mx-2 px-5 py-2"
            (click)="logout($event)"
            >Logout</a
          >
        </li>
      </ul>
    </mat-menu>

    <ul class="justify-between hidden md:flex lg:flex xl:flex">
      <li routerLinkActive="active" *ngIf="authService.isAuthenticated()">
        <a
          [routerLink]="['/main', 'user']"
          class="xl:text-xl lg:text-lg md:text-md font-normal text-white px-5 py-2"
          >User</a
        >
      </li>
      <li routerLinkActive="active" *ngIf="!authService.isAuthenticated()">
        <a
          [routerLink]="['/auth', 'login']"
          class="xl:text-xl lg:text-lg md:text-md font-normal text-white mx-2 px-5 py-2"
          >Login</a
        >
      </li>
      <li routerLinkActive="active" *ngIf="!authService.isAuthenticated()">
        <a
          [routerLink]="['/auth', 'signup']"
          class="xl:text-xl lg:text-lg md:text-md font-normal text-white mx-2 px-5 py-2"
          >Sign up</a
        >
      </li>
      <li *ngIf="authService.isAuthenticated()">
        <a
          href="#"
          class="xl:text-xl lg:text-lg md:text-md font-normal text-white mx-2 px-5 py-2"
          (click)="logout($event)"
          >Logout</a
        >
      </li>
    </ul>
  </nav>
</section>
