<section class="container mx-auto px-4">
  <h1 class="text-center text-2xl pt-4 pb-8 font-bold">
    This application is created using Angular
  </h1>

  <p class="font-bold pb-2">Main stack:</p>

  <ul class="pb-4 list-disc pl-4">
    <li>HTML, CSS, JavaScript, TypeScript.</li>
    <li>SCSS.</li>
    <li>BEM.</li>
    <li>Angular.</li>
    <li>GitHub.</li>
  </ul>

  <p class="font-bold pb-2">Frontend:</p>

  <ul class="pb-4 list-disc pl-4">
    <li>Modular design.</li>
    <li>SPA.</li>
    <li>Strict type declaration with Typescript.</li>
    <li>We interact with the server through the REST API.</li>
  </ul>

  <p class="font-bold pb-2">Backend:</p>

  <ul class="pb-4 list-disc pl-4">
    <li>DummyJSON - Fake REST API of JSON data for development</li>
  </ul>
</section>
