<a target="_blank" [routerLink]="['/main', 'product', productItem?.id]" class="flex flex-col p-3 hover:text-blue-400 ">
  <div class="pb-3 flex justify-center h-48">
    <img class="w-fit h-full" [src]="productItem.images[0]" alt="img">
  </div>
  <div class="mb-3">
    <p
      class="p-2 bg-blue-600 inline-block rounded font-medium text-white">{{productItem.price | currency: 'EUR':'symbol':undefined}}</p>
  </div>
  <h2 class="text-xl font-medium">{{productItem.title}}</h2>
  <div>
    <p class="text-xs">{{productItem.description}}</p>
  </div>
</a>
